<%- include('./partials/header')%>

<div class="flex w-full px-10 py-5 justify-end gap-10 fixed">
        <h2><a class="text-2xl" href="#"><i class="ri-search-line"></i></a></h2>
        <h2 ><a class="text-2xl" href="/create-post"><i class="ri-add-box-line"></i></a></h2>
        <h2><a class="text-2xl" href="/userUpdate/<%=user._id%>"><img class="rounded-full w-[2vmax] h-[2vmax]" src="/images/<%= user.profilepic%>" alt=""></a>
        </h2>
</div>

<div class="w-full h-max bg-slate-0 px-32 py-20 flex flex-wrap gap-10">
    <% posts.forEach((post)=> { %>
    <div class="w-[25vw] h-[70vh] bg-slate-200 rounded-3xl">
        <div class="w-full flex p-2">
            <img class="w-14 h-14 object-center object-cover rounded-full" src="/images/<%= post.user.profilepic %>" alt="">
            <div class="ms-4">
                <h2 class="text-2xl"><%= post.user.firstname %><%= post.user.lastname %></h2>
                <p><%= post.user.username %></p>
            </div>
        </div>
        <img class="w-full h-[60%] object-center object-cover" src="/images/<%= post.media%>" alt="">
        <div class="p-2">
            <a href="" class="text-2xl"><i class="ri-heart-line"></i></a>
            <a href="" class="text-2xl"><i class="ri-chat-1-line"></i></a>
            <a href="" class="text-2xl"><i class="ri-send-plane-line"></i></a>
        </div>
        <p class="px-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, temporibus.</p>
    </div>
    <% }) %>

</div>

<%- include('./partials/footer')%>
